/*--------- 页尾 ---------*/
.footer{
    height:50px;
    line-height: 50px;
    background-color: #f9f9f9;
    position: relative;
    
}
.footer::before{
    content: " ";
    position: absolute;
    left: 0;
    right: 0;
    top:0;
    border-top: 1px solid #d9d9d9;
    height: 1px;
    transform: scale(0.5);
    transform-origin: 0 0;
    width: 200%;
}
.footer .nav{
    height:100%;
}
.footer .nav .nav-wx,
.footer .nav .nav-contacts,
.footer .nav .nav-find,
.footer .nav .nav-me{
    width: 25%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size:12px;
    float:left;
    position: relative;
    color: #797979;
}
.footer .nav .icon{
    height:60%;

}
.footer .nav .icon i::before{
    font-size:25px;
}
.footer .wx-state{
    position: absolute;
    width: 18px;
    height: 18px;
    line-height: 18px;
    background-color: red;
    top: 2px;
    border-radius: 50%;
    left: 50%;
    color:white;
}
.footer .find-state{
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: red;
    top: 2px;
    border-radius: 50%;
    left: 50%;
}
.footer .nav .router-link-active .icon,
.footer .nav .router-link-active .title{
    color:#0bb908;
}

.dialog-footer {
    height: 50px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    color: #7d7e83;
  }
  .dialog-footer i {
    font-size: 30px;
    width: 40px;
    height: 40px;
    line-height: 40px;
  }
  .dialog-footer .msg-input input {
    border: 1px solid #7d7e83;
    transform: scale(0.5);
    transform-origin: 0 0;
    margin: 0;
    width: 200%;
    height: 200%;
    padding: 0 10px;
    font-size: 30px;
  }
  .dialog-footer .icon-voice,
  .dialog-footer .icon-bq,
  .dialog-footer .icon-add {
    width: 40px;
    padding: 0 4px;
    flex-grow: 1;
  }
  .dialog-footer .msg-input {
    width: 280px;
    height: 40px;
    padding: 4px 0;
    flex-grow: 8;
  }